
<div id="nav">
	<div class="center">
		<div class="icons"><a href="/"><img id="logo" src="{{url_for('static', filename='images/logo.svg')}}"></a></div>
		<div class="icons"><a href="/plant-generator"><img src="{{ url_for('static', filename='plant/icon.svg') }}"></a></div>
		<ul>
			<li><a class="nav-link" href="#download">Download</a></li><!--
			--><li><a class="nav-link" href="#documentation">Documentation</a></li><!--
			--><li><a class="nav-link" href="#screenshots">Screenshots</a></li>
		</ul>
	</div>
</div>
