<!DOCTYPE html>
<html lang="en">
	<head>
		<title>fcreyf</title>
		<meta name="author" content="Floris Creyf">
		<meta name="description" content="The main page for all projects.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
	</head>
	<body>
		{% include 'header.html' %}
		<div class="center">
			<h1>Index</h1>
			<h2>Articles</h2>
			<ul class="links"><li><a href="article/mp3-decoding-in-c++">MP3 Decoder</a></li><li><a href="article/skeletal-animation">Skeletal Animation</a></li></ul>
			<h2>Plant Generator</h2>
			<p id="plant-overview">The purpose of Plant Generator is to generate geometry. It should be able to automatically determine the right topology, texture coordinates, and joints for animation.</p>
			<ul class="links"><li><a href="{{ url_for('static', filename='plant/documentation.pdf') }}">Design Document</a></li><li><a href="https://github.com/floriscreyf/plant-generator">Repository</a></li></ul>
			<div id="clone"><div>git clone https://github.com/floriscreyf/plant-generator.git --recursive</div></div>
			<div id="images"><img src="{{ url_for('static', filename='plant/pg1.png') }}"><img src="{{ url_for('static', filename='plant/pg.png') }}"></div>
		</div>
	</body>
</html>
